In [8]:
# reference: https://www.youtube.com/watch?v=KerNf0NANMo
# installing the kafka-python
# pip install kafka-python

In [9]:
import pandas as pd
from kafka import KafkaProducer
from kafka import KafkaConsumer
from time import sleep
import json
from json import dumps

In [10]:
# Creating a kafka producer
# Here we are seralizing the data and encoding into JSON format
producer = KafkaProducer(bootstrap_servers=['publicIP:9092'],
                        value_serializer=lambda x: dumps(x).encode('utf-8'))

In [46]:
# sending sample data from producer to consumer
# demo_test is the topic
producer.send('demo_test', value={'Name': 'Musk '})

In [28]:
# reading the csv file from the local drive
df = pd.read_csv("//data//indexProcessed.csv")

In [29]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [52]:
# trying to fetch random records from the df
while True:
    dict_stock = df.sample(1).to_dict(orient = 'records')[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [51]:
# to remove the old data use the flush command
producer.flush()